/* BASIC STYLES HERE */
.open-gift-img {
  background-image: url('https://images.unsplash.com/photo-1607344645866-009c320b63e0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2080&q=80');
  background-size: cover;
  background-position: center;
  height: 100%;
  padding: 4rem;
}

.open-card {
  background-color: antiquewhite;
}