/* BASIC STYLES HERE */

body {
  background-image: url("https://images.unsplash.com/photo-1491466424936-e304919aada7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80");
  background-size: cover;
  background-position: center;
}

img {
  min-height: 40vh;
  max-height: 40vh;
}

.img-offcanvas {
  min-height: auto;
  max-height: auto;
}

.open-gift-img {
  background-image: url('https://images.unsplash.com/photo-1607344645866-009c320b63e0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2080&q=80');
  background-size: cover;
  background-position: center;
  min-height: 52.5vh;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.open-card {
  background-color: rgba(0, 0, 0, 0.288);
  color: antiquewhite;
  text-shadow: 3px 3px rgba(128, 0, 128, 0.842), 0px 0px 5px rgba(255, 255, 0, 0.774);
  font-weight: 900;
  font-size: 24px;
  border-radius: 2rem;
}

.open-card:hover {
  background-color: rgba(128, 0, 128, 0.151);
}

.horizontal-bar {
  width: 80%;
  height: 0.25rem;
  background-color: purple;
}

.text-visible {
  color: antiquewhite;
  text-shadow: 1px 1px rgba(128, 0, 128, 0.842), 0px 0px 4px rgba(255, 255, 0, 0.774);
}